@using DiagnosticoDeMatematicas.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Diagnóstico de Matemáticas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Diagnóstico de Matematicas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (SessionValidator.IsAdminSignedIn)
                    {
                        <li>@Html.ActionLink("Diagnósticos", "Index", "Exams")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                        <li>@Html.ActionLink("Estadisticas", "StatisticDetails", "Statistics")</li>
                        <li>@Html.ActionLink("Historial", "Index", "Responses")</li>
                    }
                    
                    <li>@Html.ActionLink("Examen de ubicación", "Exam", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (!SessionValidator.IsSignedIn)
                    {
                        <li>@Html.ActionLink("Iniciar sesion", "SignIn", "Home")</li>
                        <li>@Html.ActionLink("Crear cuenta", "Create", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(SessionService.User.FullName, "Details", "Users", new { ID = SessionService.User.Email + "/" }, null)</li>
                        <li>@Html.ActionLink("Cerrar sesión", "SignOut", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br/>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Diagnóstico de Matemáticas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", false)
</body>
</html>
