@model DiagnosticoDeMatematicas.Models.Variable

@{
    ViewBag.Title = "Borrar variable";
}

<h2>Borrar variable</h2>

<h3>¿Estas seguro de querer borrar esta variable?</h3>
<div>
    <h4>Variable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la pregunta", "Details", "Questions", new { id = Model.QuestionID }, null)
        </div>
    }
</div>
