@model DiagnosticoDeMatematicas.Models.Variable

@{
    ViewBag.Title = "Detalles de variable";
    var RangeDummy = new DiagnosticoDeMatematicas.Models.Range();

    var evaluator = new DiagnosticoDeMatematicas.Helpers.IEvaluator.NotationlessEvaluator();
}

<h2>Detalles de la variable</h2>

<div>
    <h4>Variable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => evaluator.Evaluate(model.Question).Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symbol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symbol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { questionID = Model.QuestionID, symbol = Model.Symbol }) |
    @Html.ActionLink("Regresar a la pregunta", "Details", "Questions", new { id = Model.QuestionID }, null)
</p>

<h3>Ranges</h3>
@Html.ActionLink("Agregar rango", "Create", "Ranges", new { questionID = Model.QuestionID, symbol = Model.Symbol }, null)
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(modelitem => RangeDummy.Minimum)
        </th>
        <th>
            @Html.DisplayNameFor(modelitem => RangeDummy.Maximum)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Ranges)
    {
        <tr>
            <td>@Html.DisplayFor(subitem => item.Minimum)</td>
            <td>@Html.DisplayFor(subitem => item.Maximum)</td>
            <td>
                @Html.ActionLink("Borrar", "Delete", "Ranges", new { id = item.ID }, null)
            </td>
        </tr>
    }
</table>