@model DiagnosticoDeMatematicas.Models.Exam

@{
    ViewBag.Title = Model.Name;
}

@Html.Action("DetailsPartial", new {examId = Model.ID})

<hr />
<h3>Preguntas</h3>
<p>
    @Html.ActionLink("Agregar pregunta", "Create", "Questions", new { examId = Model.ID }, null)
</p>

@foreach (var question in Model.Questions)
{
    Html.RenderAction("Details", "Questions", new { id = question.Id});
}

<table class="table">
    @foreach (var item in Model.Questions)
    {
        <tr>
            <td>
                @{ 
                    string parameter = item.Description.Replace("%", "").Replace("|", "");
                }
                @Html.DisplayFor(subitem => parameter)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", "Questions", new { id = item.Id }, null) |
                @Html.ActionLink("Editar", "Edit", "Questions", new { id = item.Id }, null) |
                @Html.ActionLink("Eliminar", "Delete", "Questions", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
