@using DiagnosticoDeMatematicas.Models
@model SelectionQuestion

@{
    var dummy = new QuestionOption();
}

<div id="@Model.Id">
    <h3>@Model.Description</h3>
    @if(Model is MultipleSelectionQuestion)
    {
        <h5>Selección multiple</h5>
    }
    <h4>Opciones:</h4>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(description => dummy.Description)</th>
            <th>@Html.DisplayNameFor(isCorrect => dummy.IsCorrect)</th>
            <th>@Html.DisplayNameFor(feedback => dummy.Feedback)</th>
        </tr>

        @foreach (var option in Model.Options)
        {
            <tr>
                <td>@Html.DisplayFor(description => option.Description)</td>
                <td>@Html.DisplayFor(isCorrect => option.IsCorrect)</td>
                <td>@Html.DisplayFor(feedback => option.Feedback)</td>
            </tr>
        }
    </table>

    @Ajax.ActionLink("Editar pregunta","Edit", new { id = Model.Id}, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = $"{Model.Id}" })
</div>
