@model DiagnosticoDeMatematicas.Models.SingleSelectionQuestion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>¿Estás seguro de querer borrar esta pregunta? Toda su información relacionada será eliminada.</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionACorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionACorrect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionAFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionAFeedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionBCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionBCorrect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionBFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionBFeedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionCCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionCCorrect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionCFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionCFeedback)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionDCorrect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionDCorrect)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OptionDFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OptionDFeedback)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a examen", "Details", "Exams", new { id = Model.ExamID }, null)
        </div>
    }
</div>
