@model DiagnosticoDeMatematicas.Models.SingleSelectionQuestion

@{
    ViewBag.Title = "Pregunta";
    var VariableDummy = new DiagnosticoDeMatematicas.Models.Variable();
    var RangeDummy = new DiagnosticoDeMatematicas.Models.Range();
}

@Html.Partial("_Details", Model);

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar a examen", "Details", "Exams", new { id = Model.ExamID}, null)
</p>

<h3>Variables</h3>
@Html.ActionLink("Agregar variable", "Create", "Variables", new { questionID = Model.ID }, null)
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelitem => VariableDummy.Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => RangeDummy.Minimum)
            </th>
            <th>
                @Html.DisplayNameFor(modelitem => RangeDummy.Maximum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Variables)
        {
            <tr>
                <td>
                    @Html.DisplayFor(subitem => item.Symbol)
                </td>
                <td></td>
                <td></td>
                <td>
                    @Html.ActionLink("Detalles", "Details", "Variables", new { questionID = item.QuestionID, symbol = item.Symbol }, null) |
                    @Html.ActionLink("Borrar", "Delete", "Variables", new { questionID = item.QuestionID, symbol = item.Symbol }, null) |
                </td>
            </tr>
            foreach (var range in item.Ranges)
            {
                <tr></tr>
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(subitem => range.Minimum)</td>
                    <td>@Html.DisplayFor(subitem => range.Maximum)</td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
