@model DiagnosticoDeMatematicas.Models.Response
@using DiagnosticoDeMatematicas.Charts
@using DiagnosticoDeMatematicas.Models

@{
    ViewBag.Title = "Contestar examen";
    var counter = 0;
    var evaluator = new DiagnosticoDeMatematicas.Helpers.IEvaluator.RandomValueEvaluator();
}

<h2>Contestar examen</h2>

<h3>@Model.Exam.Comments</h3>

@using (Html.BeginForm("Create", "Responses", "Post"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => Model.ExamId)
        @Html.HiddenFor(model => Model.UserId)

        @foreach (var answer in Model.Answers)
        {

            <div>
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>PREGUNTA @(counter + 1)</h4></div>
                    <div class="panel-body"><h4>@Html.Raw(ChartBuilder.QuestionWithChart(answer.Question.Description))</h4></div>
                    <input type="hidden" name="Answers[@counter].QuestionId" value="@answer.Question.Id" />
                    <div class="panel-footer">
                        <div class="row">

                            @if (answer is SelectionAnswer)
                            {
                                var options = (answer.Question as SelectionQuestion).Options;
                                if (answer is MultipleSelectionAnswer)
                                {
                                    foreach (var option in options)
                                    {

                                    }
                                }
                                else if (answer is SingleSelectionAnswer)
                                {
                                    foreach (var option in options)
                                    {
                                        <div class="col-lg-6">
                                            <input type="radio" data-val="true" data-val-required="" name="Answers[@counter].SelectionId" value="@option.Id" />
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            @Html.Raw(ChartBuilder.QuestionWithChart(option.Description))
                                            <br /><br />
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <br />
            </div>

            counter++;
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar respuestas" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
