@model DiagnosticoDeMatematicas.Models.Response

@{
    ViewBag.Title = "Detalles de respuesta";
    var answerDummy = new DiagnosticoDeMatematicas.Models.SingleSelectionAnswer();
    var evaluator = new DiagnosticoDeMatematicas.Helpers.IEvaluator.NotationlessEvaluator();
}

<h2>Detalles de respuesta</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => answerDummy.Question.Description)
        </th>
        <th>
            Eleccion
        </th>
        <th>
            Es correcta
        </th>
        <th>
            Retroalimentacion
        </th>
    </tr>

    @foreach (var answer in Model.Answers)
    {
        <tr>
            @{ 
                var questionNotation = evaluator.Evaluate(answer.Question);
            }
            <td>@questionNotation.Description.Replace("%", "").Replace("|", "")</td>
            <td>TODO</td>
            <td>@Html.DisplayFor(m => answer.IsCorrect)</td>
            <td>TODO</td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Regresar a historial", "Index")
</p>
