@model DiagnosticoDeMatematicas.Models.User

@{
    ViewBag.Title = "Detalles de cuenta";
    var ResponseDummy = new DiagnosticoDeMatematicas.Models.Response();
}

<h2>@Model.FullName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liking)
        </dd>

    </dl>
</div>
@if ((DiagnosticoDeMatematicas.Models.Role)Session.Contents["Role"] == DiagnosticoDeMatematicas.Models.Role.Administrador)
{
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Email.ToString() + "/" }) |
        @Html.ActionLink("Borrar", "Delete", new { id = Model.Email.ToString() + "/" }) |
        @Html.ActionLink("Regresar a lista de usuarios", "Index")
    </p>
}

<h2>Historial de respuestas</h2>

<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => ResponseDummy.ExamID)
        </th>
        <th>
            Número de intento
        </th>
        <th>
            @Html.DisplayNameFor(model => ResponseDummy.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => ResponseDummy.Grade)
        </th>
    </tr>
    @{ 
        var counter = 0;
        int? lastExam = null;
    }
    @foreach (var item in Model.Responses.OrderBy(m => m.ExamID).ThenBy(m => m.Date))
    {
        if (lastExam == null)
        {
            lastExam = item.ExamID;
        }

        if (item.ExamID != lastExam.Value)
        {
            counter = 0;
        }

        lastExam = item.ExamID;

        counter++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Name)
            </td>
            <td>
                @counter
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
        </tr>
    }

</table>

