@model IEnumerable<DiagnosticoDeMatematicas.Models.ViewModels.Users.UserWithRoleStringViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(roles => item.Roles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.User.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.User.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.User.Id })
        </td>
    </tr>
}

</table>
