@using DiagnosticoDeMatematicas.Models
@model MultipleSelectionQuestion

@{
    var dummy = new QuestionOption();
    var variableDummy = new Variable();
}

<div id="@Model.Id" class="panel-group">
    <div class="panel panel-primary" style="margin-bottom: 2px;">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse@(Model.Id)">
                    @Html.DisplayFor(description => Model.Description) <span style="font-size: 70%">Selección multiple</span>
                </a>
            </h3>
        </div>
        <div id="collapse@(Model.Id)" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Opciones:</h4>
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(description => dummy.Description)</th>
                        <th>@Html.DisplayNameFor(isCorrect => dummy.IsCorrect)</th>
                        <th>@Html.DisplayNameFor(feedback => dummy.Feedback)</th>
                    </tr>

                    @foreach (var option in Model.Options)
                    {
                        <tr>
                            <td>@Html.DisplayFor(description => option.Description)</td>
                            <td>@Html.DisplayFor(isCorrect => option.IsCorrect)</td>
                            <td>@Html.DisplayFor(feedback => option.Feedback)</td>
                        </tr>
                    }
                </table>

                <h4>Variables:</h4>
                <table class="table">
                    <tr>
                        <th>@Html.DisplayNameFor(description => variableDummy.Symbol)</th>
                        <th>Mínimo</th>
                        <th>Máximo</th>
                    </tr>

                    @if (Model.Variables != null)
                    {
                        foreach (var variable in Model.Variables)
                        {
                            <tr>
                                <td>@variable.Symbol</td>
                                <td></td>
                                <td></td>
                            </tr>
                            foreach (var range in variable.Ranges)
                            {
                                <tr>
                                    <td></td>
                                    <td>@range.Minimum</td>
                                    <td>@range.Maximum</td>
                                </tr>

                            }
                        }
                    }
                </table>

                <p>
                    @Ajax.ActionLink("Editar pregunta", "Edit", "MultipleSelectionQuestions", new { questionId = Model.Id }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = $"{Model.Id}" })
                </p>
                <p>
                    @Ajax.ActionLink("Borrar pregunta", "Delete", "MultipleSelectionQuestions", new { questionId = Model.Id }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = $"{Model.Id}", HttpMethod = "POST" })
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    MathJax.Hub.Queue(["Typeset", MathJax.Hub, "@Model.Id"]);
</script>